pip==9.0.1
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
distro==1.4.0
Flask==1.1.1
html2text==2020.1.16
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.4.2
MarkupSafe==1.1.1
matrix-client==0.3.2
pycparser==2.19
pyOpenSSL==19.1.0
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
urllib3==1.25.8
Werkzeug==0.16.1
zulip==0.6.3
zulip-bots==0.6.3
zulip-botserver==0.6.3
